<!DOCTYPE html>
<html>

<head>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
</head>

<body>
  <header>
    <h1>
      <a href="/">Homeplus Security News Scrapper</a>
    </h1>
    <h4> 현재 KISA 인터넷 침해사고 경보단계 : {{t_info}} </h4>
    <h3>{{today}} 기준으로, {{count}}개 기사를 수집하였습니다. </h3>
    <h4> 검색어별 빈도 순위 </h4>
  </header>
  <main>
    {% for i in article %}
    <div>
      <h3> {{i.pubDate}} | <a href="https://{{i.domain}}" target="_blank"> {{i.domain}}</a></h3>
      <h3>
        {{i.cat}} | <a href="{{i.link}}" target="_blank">{{i.title}}</a>
      </h3>
      <h4>{{i.description}}</h4>
      <h4>{{i.link}}</h4>
      <hr>
    </div>
    {% endfor %}
  </main>  
</body>

</html>
