<!DOCTYPE html>
<html>

<head>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
</head>

<body>
  <header>    
    <h1> Homeplus Security News Scrapper </h1>        
  </header>
  <main>
    <form action="/read">
     <h4>관심있는 키워드 선택 : </h4>
    <ul>
      {% for i in news_cat %}
      <li>
        <input type="checkbox" name = "{{i}}" id = "{{i}}">
        <label for="{{i}}">
          {{i}}
        </label>
      </li>
      {% endfor %}
    </ul>
    <button type="submit">모아보기</button>
    <button type="submit">전날 스크랩한 기사 다운로드</button>
    </form>
  </main>
  
</body>

</html>