<!DOCTYPE html>
<html>

<head>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
</head>

<body>
  <header>
    <h1>
      <a href="/">Homeplus Security News Scrapper</a>
    </h1>    
  </header>
  <main>
    {% for i in article %}
    <div>
      <h3> {{i.pubDate}} | <a href="https://{{i.domain}}" target="_blank"> {{i.domain}}</a></h3>
      <h3>
        {{i.cat}} | <a href="{{i.link}}" target="_blank">{{i.title}}</a>
      </h3>
      <h4>{{i.description}}</h4>
      <h4>{{i.link}}</h4>
      <hr>
    </div>
    {% endfor %}
  </main>  
</body>

</html>